<ul>
        <li><a href="/index">Accueil</a></li>
        <li><a href="/tabAtomes">Tableau atome</a></li>
        <li><a href="/jsonAtome">JSON atome</a></li>
        <li><a href="/Atome">Atome</a></li>

        <li><a href="/newAtome">Creer Atome</a></li>
        <li><a href="/logout">Déconnexion</a></li>
</ul>  
